ul {
    list-style: square inside none;
    list-style: none inside url('img/facebook.png');
    /*list-style-type: none/square/circle/disk;
    list-style-position: ; outside - за границы текста, inside - обтекается текстом
    list-style-image: ; none/url('')*/
}

.tasklist {
    list-style-type: lower-roman;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
}

.marked {
    background-color: lightgray;
}
/*
tr:first-child, tr:last-child {
    background-color: lightgray;
}

tr:nth-child(odd) {
    background-color: skyblue;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

tr:last-child td:last-child {
    background-color: lightpink;
}
*/

.zeebra tr:nth-child(4n+1) {
    background-color: lightgreen;
}

.zeebra tr:nth-child(4n+2) {
    background-color: lightseagreen;
}


.zeebra tr:nth-child(4n+3) {
    background-color: lightpink;
}

.zeebra tr:nth-child(4n+4) {
    background-color: lightskyblue;
}

.orderlist tr:first-child {
    background-color: goldenrod
}

.orderlist th, .orderlist td, .orderlist tr {
    border: 1px dashed black
}
