* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.block1 {
    width: 400px;
    height: 200px;
    border: 5px solid blue;
    padding: 20px;
}

.block2 {
    width: 400px;
    height: 200px;
    border: 5px solid red;
    padding: 20px;
    box-sizing: border-box;
}
*/

/*
.block1, .block2, .block3 {
    display: inline;
    border: 1px solid black;
}
*/
/*
div {
    display: inline-block;
    vertical-align: middle;
}
*/
.block1 {
    border: 1px solid black;
    width: 200px;
    /* height: 200px; */
}

.block2 {
    border: 1px solid red;
    width: 100px;
    /* height: 200px; */
}

.block3 {
    border: 1px solid blue;
    width: 300px;
    /* height: 400px; */
}

.block4 {
    border: 1px solid green;
    width: 200px;
    /* height: 200px; */
}

.block5 {
    border: 1px solid plum;
    width: 150px;
    /* height: 150px; */
}


.container {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap; /* объединяет flex-direction и flex-wrap */
    align-content: space-around; /* работает только при wrap/-reverse, и когда задана высота */
    height: 1000px;
}


/*
flex-direction - расставляет элементы в ряд или в колонку.
Row - Элементы расположены в ряд, по умолчанию прижаты к левому краю, их нумерация имеет обычный порядок - слева направо.
row-reverse - Элементы расположены в ряд, по умолчанию прижаты к правому краю, их нумерация имеет обратный порядок - справа налево.
Column - Элементы расположены в колонку, по умолчанию прижаты к верху, их нумерация имеет обычный порядок - сверху вниз.
column-reverse - Элементы расположены в колонку, по умолчанию прижаты к низу, их нумерация имеет обратный порядок - снизу вверх.

justify-content - Отвечает за выравнивание элементов по главной оси:
flex-start - Флексы прижаты к началу строки.
flex-end - Флексы прижаты к концу строки.
center - Флексы выравниваются по центру строки.
space-between - Флексы равномерно распределяются по всей строке. Первый и последний элемент прижимаются к соответствующим краям контейнера.
space-around - Флексы равномерно распределяются по всей строке. Пустое пространство перед первым и после последнего элементов равно половине пространства между двумя соседними элементами.
space-evenly - Флексы распределяются так, что расстояние между любыми двумя соседними элементами, а также перед первым и после последнего, было одинаковым.

Свойство align-items выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении.
flex-start - Флексы выравниваются в начале поперечной оси контейнера.
center - Флексы выравниваются по линии поперечной оси. 
flex-end - Флексы выравниваются в конце поперечной оси контейнера.
stretch - Флексы растягиваются таким образом, чтобы занять всё доступное пространство контейнера.
baseline - Флексы выравниваются по их базовой линии.

Stretch - Значение по умолчанию. Строки флекс-элементов равномерно растягиваются, заполняя все доступное пространство.
Center - Строки флекс-элементов выравниваются по высоте по середине контейнера относительно его левого края.
flex-start - Строки флекс-элементов выравниваются по левому краю контейнера относительно его верхнего края.
flex-end - Строки флекс-элементов выравниваются по левому краю контейнера относительно его нижнего края.
space-between - Строки флекс-элементов выравниваются по высоте по середине контейнера относительно его левого края. Свободное пространство распределяется между ними. Первый ряд флекс-элементов прижимается к началу контейнера, последний ряд - к нижнему краю.
space-around - Строки флекс-элементов равномерно распределяются по высоте, свободное пространство добавляется сверху и снизу строки.
Свойство align-content устанавливает тип выравнивания строк флекс-элементов по вертикали внутри флекс-контейнера, позволяя управлять свободным пространством.
Свойство align-content работает только в случае, если разрешен перенос строк и указано направление flex-flow: row/row-reverse/column/column-reverse wrap/wrap-reverse; и высота flex-контейнера.
*/